.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  flex-direction: column;

  .auth-logo {
    transform: scale(1.4);
  }

  .auth-title {
    font-size: 24px;
    font-weight: bold;
    line-height: 2;
  }

  .auth-tips {
    font-size: 14px;
  }

  .auth-input {
    width: 20%;
    min-width: 230px;
    &:first-of-type {
      margin-top: 32px;
    }
    &:not(:first-of-type) {
      margin-top: 16px;
    }
  }

  .auth-actions {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 20%;
    min-width: 230px;
    margin-top: 16px;
    div {
      margin: 0;
    }
  }
}
